nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: sticky;
    top: 1px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    background-color: #D3B1C2;
    font-weight: normal;
    font-size: 2vw;
    font-family: 'ubuntu', sans-serif;
    color: #4F0000;
    width: 100%;
}

header {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    position: static;
}
h1 {
    font-size: 3vw;
    font-family: 'ubuntu', sans-serif;
    color: #613459;
}

h2{
    font-size: 2vw;
    font-weight: lighter;
    font-family: 'ubuntu', sans-serif;
    color: #613459;
}

h3{
    font-size: 2vw;
    font-family: 'ubuntu', sans-serif;
    color: #613459;
}

h4 {
    font-size: 1vw;
    font-family: 'ubuntu', sans-serif;
    color: #613459;
}

p {
    font-size: 1.25vw;
    font-family: 'Source Code Pro', sans-serif;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 5px solid #211522;
}

.mainTitle {
    font-size: 5vw;
    color: #613459;
    padding: 0;
    margin: 0;
   }

.title {
    font-size: 3vw;
    font-weight: 500;
    font-family: 'Rubik Distressed', sans-serif;
    color: #8d0999;
    margin: 10px 0 0 50px;
}

.subtitle {
    font-size: 2vw;
    font-weight: bolder;
    margin: 0;
}

.author {
    display: flex;
    flex-flow: column;
    margin: 10% 0 10% 0;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    /*position: static;*/
}

.photographer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: 0 1px;
    width: 100%;
}

.name, .alias{
    font-size: 2vw;
    font-family: 'ubuntu', sans-serif;
    color: #4F0000;
}

.bio {
    margin: 0;
    width: 100%;
}

.definitions {
    display: flex;
    flex-flow: column;
    margin: 5% 0 10% 0;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.subtitle2 {
    margin: 0;
    font-weight: bold;
    font-size: 1.5vw;
}

.notes {
    font-size: 0.75vw;
    align-self: flex-start;
}
.galleryImage {
    max-width: 40%;
}

.frontPageImage {
    max-width: 70%;

}


/*@media screen and (min-width: 800px) {

} For bigger screens search in the expample code of the book where it goes


*/
